---
import Layout from "../layouts/layout.astro"
import { Image } from "astro:assets";
import github from '../../public/images/github.svg'
import html from '../../public/images/html.svg'
import css from '../../public/images/css3.svg'
import tailwind from '../../public/images/icons8-tailwind-css-480.svg'
import sass from '../../public/images/icons8-sass-480.svg'
import js from '../../public/images/js.svg'
import ts from '../../public/images/typescript.svg'
import react from '../../public/images/physics.svg'
import astro from '../../public/favicon.svg'
import me from '../../public/images/me.png'
import about from '../../public/images/person.svg'
import twitter from '../../public/images/twitter.svg'
import gmail from '../../public/images/gmail.svg'
import telegram from '../../public/images/telegram.svg'
import linkedIn from '../../public/images/linkedin.svg'
import instagram from '../../public/images/instagram.svg'
---
<Layout title="Dubem's Portfolio.">
<div class="flex flex-col gap-[30px] mt-[12vh]">

<section id="home" class="hero p-8 min-h-[88vh] scroll-mt-[100px]">
    <header class="hero__header hover:scale-[1.01] tracking-wider mt-[10vh] text-white text-center text-[70px] max-md:text-[40px] transition-all duration-2s">HI, I'M CHIDUBEM</header>
    <p class="hero__p hero__p--1 text-center mt-4 text-white">A Frontend Web Developer based in Nigeria.</p>
    <br>
    <p class="hero__p hero__p--2 text-center text-white">Let's turn your ideas into polished, production ready SEO web applications.</p>
    <br>
    <a href="https://github.com/heislaflamme" target="_blank" rel="noopener noreferrer" class="cv w-fit flex -rotate-5 hover:rotate-0 transition-all duration-5s bg-amber-200 gap-2 border-1 mt-8 p-2 rounded-2xl m-auto hover:scale-[1.1] active:bg-amber-100">
        Visit my github
        <Image src={github} alt="github" class="w-6" format="webp" quality={10} loading="eager"/>
    </a>
</section>

<section id="skills" class="skills scroll-mt-[100px] rounded-4xl pt-8 min-h-[80vh]">
    <div class="skills__container p-[1vw]">
        <div id="html" class="skills__html">
            <Image src={html} alt="skill" class="w-[10vw] m-auto" />
            <p class="text-white text-center pt-4">HTML 5</p>
        </div>

        <div id="css" class="skills__css">
            <Image src={css} alt="skill" class="w-[10vw] m-auto"/>
            <p class="text-white text-center pt-4">CSS</p>
        </div>

        <div id="tailwind" class="skills__tailwind">
            <Image src={tailwind} alt="skill" class="w-[10vw] m-auto"/>
            <p class="text-white text-center pt-4">TAILWIND</p>
        </div>

        <div id="sass" class="skills__sass">
            <Image src={sass} alt="skill" class="w-[10vw] m-auto"/>
            <p class="text-white text-center pt-4">SASS</p>
        </div>

        <div id="js" class="skills__js">
            <Image src={js} alt="skill" class="w-[10vw] m-auto"/>
            <p class="text-white text-center pt-4">JavaScript</p>
        </div>

        <div id="ts" class="skills__ts">
            <Image src={ts} alt="skill" class="w-[10vw] m-auto"/>
            <p class="text-white text-center pt-4">TypeScript</p>
        </div>

        <div id="react" class="skills__react">
            <Image src={react} alt="skill" class="w-[10vw] m-auto"/>
            <p class="text-white text-center pt-4">REACT</p>
        </div>

        <div id="astro" class="skills__astro">
            <Image src={astro} alt="skill" class="w-[10vw] bg-gray-800 rounded-2xl m-auto"/>
            <p class="text-white text-center pt-4">ASTRO</p>
        </div>
    </div>
</section>

<section id="about" class="min-h-[80vh] mt-[150px] scroll-mt-[15vh] m-auto relative">
    <div class="absolute top-[10vh] -translate-x-1/2">
        <div class="book bg-gray-300">
    <div class="scroll pl-10 pr-1 flex flex-col">
        <div class="flex gap-2 p-2">
            <Image src={me} alt="me" class="w-[100px] bg-white m-auto border-2" />
            <strong class="about__p m-auto">I AM A FRONT-END WEB DEVELOPER BASED IN LAGOS, NIGERIA🌍.</strong>
        </div>
        <hr>
            <div class="pl-2 pt-2 flex items-center justify-center">
                <p class="about__p">I build clean, fast, responsive and SEO websites, <br>
                my tech stack includes the latest technologies such as <strong>HTML, CSS, Tailwind, SASS, JavaScript, TypeScript, React </strong>and <strong>Astro.</strong>
                <br> My website was especially made using Astro, paired with tailwind, css and TypeScript.
                <br>I am confident in my stack and I use it well. <br> <strong>Available for freelance, remote, or on-site web development roles.</strong>
                </p>
            </div>

     </div>
    <div class="cover bg-gray-900 relative border-2 border-l-[20px]">
        <h1 class="about__cover text-2xl text-white tracking-wider flex flex-col gap-4">
            <Image src={about} alt="about" class="ab w-20 bg-amber-200 rounded-full p-2 m-auto"/>
            ABOUT ME
        </h1>
        <p class="tap absolute text-white top-[100%] -translate-y-full p-4 tracking-widest opacity-40">tap to open</p>
    </div>
   </div>
    </div>
</section>

<section id="contact" class="min-h-[80vh] mt-[150px] scroll-mt-[15vh]">
    
    <div class="social bg-white p-4 flex flex-col justify-center rounded-2xl w-[350px] m-auto">
        <div>
        <h1  class="contact__text text-black text-center font-extrabold tracking-wide">FIND ME ON...</h1>
        </div>

        <div class="flex justify-evenly gap-2 mt-4 flex-col p-4">
            <a href="https://t.me/heislaflame" class="flex" target="_blank" rel="noopener noreferrer">
            <Image src={telegram} alt="social" class="w-15 hover:scale-[1.05] transition-all duration-500"  />
            <p class="text-center p-4">Telegram</p>
            </a>

             <a href="https://x.com/heislaflame?s=11&t=jyaIwNJe-T53So5zipuPRA" class="flex" target="_blank" rel="noopener noreferrer">
            <Image src={twitter} alt="social" class="w-15 hover:scale-[1.05] transition-all duration-500" />
            <p class="text-center p-4">X</p>
            </a>

             <a href="https://www.linkedin.com/in/emekaogbuchidubem?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" class="flex" target="_blank" rel="noopener noreferrer">
                <Image src={linkedIn} alt="social" class="w-15 hover:scale-[1.05] transition-all duration-500" />
             <p class="text-center p-4">LinkedIn</p>
            </a>

             <a href="mailto:emekaogbuchidubem@gmail.com" class="flex" target="_blank" rel="noopener noreferrer">
            <Image src={gmail} alt="social" class="w-15 hover:scale-[1.05] transition-all duration-500" />
            <p class="text-center p-4">Gmail</p>
            </a>

             <a href="https://www.instagram.com/heislaflame?igsh=MWh1NWUzOWxnMWRndg%3D%3D&utm_source=qr" class="flex" target="_blank" rel="noopener noreferrer">
            <Image src={instagram} alt="social" class="w-15 hover:scale-[1.05] transition-all duration-500" />
            <p class="text-center p-4">Instagram</p>
            </a>

            <div class="contra-hire-me-button w-45 m-auto hover:scale-[1.05] transition-all duration-500" data-analyticsUserId="c88cfc24-7ef4-45b9-b8ac-df85bb094d65" data-theme="light" data-username="emeka_chidubem_i7fb5yis"></div><script async src="https://contra.com/static/embed/sdk.js" charset="utf-8"></script>

        </div>

        

    </div>
</section>


</div>
</Layout>

<script>

    const observer = new IntersectionObserver((entries) => {
        entries.forEach((e) => {
            if (!e.isIntersecting) {
                e.target.classList.remove("opacity-100", "entry");
                e.target.classList.add("opacity-0");
            }
            else if (e.isIntersecting) {
                e.target.classList.remove("opacity-0");
                e.target.classList.add("opacity-100", "entry");
            }
        })
    });

    const html = document.getElementById("html");
    const css = document.getElementById("css");
    const tailwind = document.getElementById("tailwind");
    const sass = document.getElementById("sass");
    const js = document.getElementById("js");
    const ts = document.getElementById("ts");
    const react = document.getElementById("react");
    const astro = document.getElementById("astro");

    const array = [html, css, tailwind, sass, js, ts, react, astro];
    array.forEach(element => {
        if (element !== null) {
            observer.observe(element);
        }
    });

    array.forEach(element => {
        if (element !== null) {
            element.addEventListener("mouseover", () => {
                element.classList.add("hover:scale-[1.1]", "transition-all", "duration-5s")
            })
        }
    });

    document.addEventListener("DOMContentLoaded", () => {
    const book = document.querySelector(".book");

        if(book !== null){
            book.addEventListener("click", () => {
      book.classList.toggle("open");
    });
        }
  });

</script>
 